.MAP {
    color: white;
    font-size: 75px;
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-top: 70px;
}

.container {
    display: flex;
    gap: 2rem;
}


#calendar {
    margin: 10px;
    width: 75%;
    left: 20px;
    border-radius: 1.5rem;
    flex: 2;
    margin: auto;
}

.Legends {
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 10px;
    margin: 10px;
    width: 25%;
}

.LegTitle {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

ul {
    padding: 15px 40px;
    list-style-position: inside;
    font-size: 20px;
}

li.a::marker{
    color: red;
    font-size: 35px;
}

li.b::marker{
    color: green;
    font-size: 35px;
}

li.c::marker{
    color: yellow;
    font-size: 35px;
}

li.d::marker{
    color: blue;
    font-size: 35px;
}

li.e::marker{
    color: violet;
    font-size: 35px;
}

@media screen and (max-width: 720px) {
    .container{
        flex-direction: column;
    }

    #calendar {
        width: 100%;
    }
    
    .Legends {
        width: 100%;
    }
}

