@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
}

header {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

.sticky {
    position: sticky;
    background-color: #000;
}

header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

header .navigation .navigation-items .active {
    color: #FFD700;
}

.logo {
    height: 125px;
    width: 250px;
}

@media (max-width: 1040px) {
    header {
        padding: 15px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
        z-index: 99999;
    }

    
    header .navigation .navigation-items a {
        color: #000;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a::before {
        background: #222;
        height: 5px;
    }

    header .navigation .navigation-items {
        background-color: #fff;
        width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rbg(1 1 1 / 20%);
    }

    .menu-btn {
        background: url(../assets/homeAssets/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(../assets/homeAssets/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        z-index: 999999;
    }

}

.MAP {
    color: white;
    font-size: 75px;
    display: flex;
    width: 100%;
    margin-left: 20px;
}

.container {
    display: flex;
    gap: 2rem;
}


#calendar {
    margin: 10px;
    width: 75%;
    left: 20px;
    border-radius: 1.5rem;
    flex: 2;
    margin: auto;
}

.Legends {
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 10px;
    margin: 10px;
    width: 25%;
}

.LegTitle {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

ul {
    padding: 15px 40px;
    list-style-position: inside;
    font-size: 20px;
}

li.a::marker{
    color: red;
    font-size: 35px;
}

li.b::marker{
    color: green;
    font-size: 35px;
}

li.c::marker{
    color: yellow;
    font-size: 35px;
}

li.d::marker{
    color: blue;
    font-size: 35px;
}

li.e::marker{
    color: violet;
    font-size: 35px;
}

@media screen and (max-width: 720px) {
    .container{
        flex-direction: column;
    }

    #calendar {
        width: 100%;
    }
    
    .Legends {
        width: 100%;
    }
}

footer {
    color: #FFD700;
    padding: 30px;
    font-size: 10px;
    text-align: end;
    margin-top: 20px;
    hr {
        width: 95%;
        font-size: 10px;
        margin: auto;
    }
    p {
        margin-right: 50px;
    }
}

.backbtn {
    position: fixed;
    width: 65px;
    height: 65px;
    background-color: #FFF;
    z-index: 100;
    bottom: 15px;
    left: 15px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 65px;
    font-size: 2em;
    color: #000;
}

.backbtn:hover {
    color: #000;
}