header .rightmost a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding-right: 50px;
}

section.carts {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    color: gold;
    font-size: 50px;
    text-align: center;
    .items h1 {
        margin-bottom: 25px;
    }
}

.cart1, .cart2, .cart3 {
    width: 80vw;
    height: 70vh;
    background-color: white;
    margin: 100px auto;
    position: absolute;
}

.cart1 {
    top: 60%;
    left: 50%;
    transform: translate(-53%, -58%);
    background-color: gold;
}
.cart2 {
    top: 60%;
    left: 50%;
    transform: translate(-47%, -52%);
    background-color: grey;
}
.cart3 {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.items {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.payment {
    background-color: black;
    width: 40%;
    height: 90%;
    margin: auto;
    border-radius: 25px;
    color: white;
}

.PaymentForm {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    padding: 0 15px;
    label {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    input[type="text"] {
        width: 75%
    }
}


.submit {
    background-color: gold;
    color: white;
    font-size: 40px;
    border: none;
    border-radius: 50px;
    margin: 25px auto 0 auto;
}

.cart-item {
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.cart-summary div{
    color: black;
    font-size: 15px;
    justify-content: space-between;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between labels and values */
    margin: 10px; /* Add some spacing between summary rows */
}

.name, .address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.EToD {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    p {
        text-align: end;
    }
}

.lastchilds {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}