footer {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
}

footer .footHeader {
    justify-content: space-between;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #000;
    p {
        margin: 0 80px;
        font-size: 100px;
    }
    .gold {
        color: #FFD700;
    }
}

footer .footcontact {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    .footiii {
        width: 40%;
        p {
            font-size: 15px;

        }
        .heading {
            font-size: 40px;
            font-weight: 500;
            padding-bottom: 10px;
        }
        a {
            text-decoration: none;
            font-size: 30px;
            color: #000;
            margin: 15px 0px;
            padding: 0 40px 0 0;
        }
        a.contact {
            display: inline-block;
            color: #fff;
            font-size: 25px;
            background-color: #000;
            border: 2px solid black;
            padding: 5px 20px;
        }
    }
    .foot4 {
        width: 50%;
        margin: 15px;
        display: flex;
        flex-direction: row;
        line-height: 1.5rem;
        font-size: 1.5rem;
        gap: 3rem;
        .foot41, .foot42 {
            display: flex;
            flex-direction: column;
            height: max-content;
        }
        
    }
}

footer .license {
    background-color: #000;
    color: white;
    text-align: end;
    padding: 20px;
}

@media (max-width: 1040px)
{
    footer .footHeader, footer .footcontact {
        
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
        p {
            padding: 10px;
        }
        
    .foot1 {
        justify-content: center;
        align-content: center;
        text-align: center;
        .logo {
            height: auto;
            width: 20rem;
        }
    }
    .footiii{
        width: 100%;
        margin: auto;
        text-align: center;
        a {
            padding: 40px;
        }
    }
    .foot4
    {
        padding-top: 50px;
        font-size: 20px;
    }
    }
    
}

@media (max-width: 400px) {
    
    footer .footHeader, footer .footcontact {
        
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
        p {
            padding: 10px;
        }
        
    .foot1 {
        justify-content: center;
        align-content: center;
        text-align: center;
        .logo {
            height: auto;
            width: 20rem;
        }
    }
    .footiii{
        width: 100%;
        margin: auto;
        text-align: center;
        a {
            padding: 40px;
        }
    }
    .foot4
    {
        padding-top: 50px;
        font-size: 20px;
        gap: 0;
    }
    }
}

section.swiper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    padding-top: 5vh;
    margin-bottom: 10vh;
    gap: 10vh;
    overflow-x: hidden;
}

section.swiper .swipe-container {
    margin: 4vh 0;
    display: flex;
    gap: 10vw; /* Consistent gap between slides */
    transition: transform 0.5s ease; /* Smooth transition */
}

section.swiper .swipe {
    background-color: #fff;
    width: 50vw; /* Each slide is 50% of viewport width */
    height: 30vw; /* Height is 30% of viewport width */
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth resizing and fading */
    flex-shrink: 0; /* Prevent shrinking of slides */
    opacity: 0.5; /* Faded look for inactive slides */
    cursor: pointer;
}

section.swiper .swipe.active {
    transform: scale(1.2); /* Enlarge active slide */
    opacity: 1; /* Full opacity for active slide */
}

section.swiper .circles {
    width: 100vw;
    height: 15vh;
    padding: 0 20vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.circles .circle {
    height: 100%;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

.circles .circle img {
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

@media screen and (max-width: 1040px) {
    section.swiper .circles{
        height: 10vh;
    }
    section.swiper
    {
        gap: 4vh;
    }
}
@media screen and (max-width: 500px) {
    section.swiper .circles{
        height: 5vh;
    }
    
    section.swiper
    {
        gap: 1vh;
    }
    footer .footHeader {
        p {
            margin: 0 80px;
            font-size: 100px;
        }
        .gold {
            color: #FFD700;
        }
    }
}

section.banner {
    width: 80vw;
    height: 30vh;
    background-color: #fff;
    margin: 0 auto;
    
}

section.products {
    width: 100vw;
    height: 100vh;
    margin: 10vh 0;
}

.items-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 50vw;
    z-index: 1;
    transform: translateX(8vw);
    transition: transform 0.5s ease;
}

.items {
    margin: auto 0;
    min-width: 85%;
    height: fit-content;
    display: grid;
    place-items: center;
    row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: hidden;
}

.item {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;
}

.itemImg {
    width: 100%;
    background-color: #fff;
    height: 100%;
    position: relative;
    text-align: center;
    img {
        margin-top: 20px;
        width: 20vw;
        height: 35vh;
    }
}


.addtocart{
    position: absolute;
    bottom: 5px;
    right: 5px;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    height: 40px;
    width: 40px;
    background-color: #FFF;
    z-index: 999999;
}

.itemDesc {
    background-color: aliceblue;
    width: 100%;
    height: 7.5vh;
    
}

.next-prev {
    position: absolute; /* Positioning relative to the section */
    top: 215%; /* Vertically center */
    transform: translateY(-50%); /* Adjust for perfect centering */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* Push prev to left, next to right */
    padding: 0 20px; /* Space from the edges */
    z-index: 5; /* Make sure it's above other content */
    font-size: 50px;
    color: #fff;
    margin: 1.5vw;
}
@media screen and (max-width: 960px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
    .itemImg {
        img {
            margin-top: 10px;
            width: 20vw;
            height: 20vh;
        }
    }
    .itemDesc {
        background-color: aliceblue;
        width: 100%;
        height: 10  vh;
        
    }
}

@media screen and (max-width: 675px)
{
    .next-prev {
        padding: 0;
        font-size: 25px;
    }
    .itemImg {
        img {
            margin-top: 10px;
            width: 40vw;
            height: 20vh;
        }
    }
}

@media screen and (max-width: 575px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
    
    section.products {
        width: 100vw;
        height: 175vh;
        margin: 10vh 0;
    }
    .itemImg {
        img {
            margin-top: 10px;
            width: 30vw;
            height: 20vh;
        }
    }
}

.media-icons {
    position: relative;
    span {
        position: absolute;
        top: -10px;
        right: -20px;
        width: 30px;
        height: 30px;
        color: #000;
        background-color: #FFD700;
        border-radius: 25px;
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        text-align: center;
    }
}