@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sticky {
    position: sticky;
    background-color: #000;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.5s ease;
}

header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    display: none;
}

header .navigation .navigation-items a{
    color: #000;
    font-size: 1.2em;
    margin: 20px;
}

header .navigation .navigation-items {
    background-color: #fff;
    width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rbg(1 1 1 / 20%);
}

header .navigation .navigation-items a::before {
    background: #222;
    height: 5px;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

header .navigation .navigation-items .active {
    color: #FFD700;
}

header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
    z-index: 99999;
}

header .rightmost {
    display: flex;
    flex-direction: row;
}
.menu-btn {
    background: url(../assets/homeAssets/menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-btn.active {
    z-index: 999;
    background: url(../assets/homeAssets/close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    z-index: 999999;
}

.logo {
    height: 62.5px;
    width: 125px;
}

section.home {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    background-color: rgba(169, 169, 169, .3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
    font-size: 25px;
}

.home .content a {
    background-color: gray;
    padding: 15px 35px;
    color: gold;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

header .rightmost .media-icons {
    z-index: 888;
    position: relative;
    right: 20px;
    display: flex;
    flex-direction: row;
    transition: 1s ease;
    gap: 40px;
}

header .rightmost .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}


header .media-icons a:hover {
    transform: scale(1.3);
    color: #FFD700;
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: 0 0 2px rbga(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background-color: gold;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0 at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}


.breaks {
    line-height: 32px;
}


@media (max-width: 1040px) {
    .breaks {
        line-height: 23px;
    }
    header {
        padding: 15px 20px;
    }

    section.home {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }
    header .brand img{
        width: 75%;
        height: auto;
    }
    .home {
        position: relative;
        width: 100%;
        max-height: 50vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
    }
    .home:before {
        z-index: 777;
        content: '';
        position: absolute;
        background-color: rgba(169, 169, 169, .3);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .home .content {
        z-index: 888;
        color: #fff;
        width: 70%;
        margin-top: 150px;
        display: none;
    }
    .home .content h1 {
        font-size: 2em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 37.5px;
        margin-bottom: 10px;
    }
    
    .home .content h1 span {
        font-size: 0.6em;
        font-weight: 600;
    }
    
    .home .content p {
        margin-bottom: 30px;
        font-size: 12.5px;
    }
    
    .home .content a {
        background-color: gray;
        padding: 15px 15px;
        color: gold;
        font-size: 1.1em;
        font-weight: 500;
        text-decoration: none;
        border-radius: 2px;
    }
    .slider-navigation {
        z-index: 888;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-20px);
        margin-bottom: 12px;
    }
}



@media (max-width: 1040px) {
    .home {
        position: relative;
        width: 100%;
        min-height: 5vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
    }
    .home:before {
        z-index: 777;
        content: '';
        position: absolute;
        background-color: rgba(169, 169, 169, .3);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

section.announcement, section.newReleases {
    width: 93%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
}

section.announcement .announceLeft,
section.announcement .announceRight,
section.newReleases .content {
    width: 100vw; 
    height: 90vh;
    background-color: white; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}



@media (max-width: 1040px) {
    section.announcement, section.newReleases {
        width: 93%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 30px;
    }
    section.announcement .announceLeft,
    section.announcement .announceRight,
    section.newReleases .content {
        width: 100vw; 
        height: 45vh;
        background-color: white; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    }
}

@media (max-width: 500px)
{
    section.announcement, section.newReleases {
        width: 91%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px;
    }
    section.announcement .announceLeft,
    section.announcement .announceRight,
    section.newReleases .content {
        width: 100vw; 
        height: 20vh;
        background-color: white; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    }
}


body {
    background-color: #000;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
}

footer .footHeader {
    justify-content: space-between;
    background-color: #000;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
    padding: 0 50px;
    .logo {
        height: auto;
        width: 500px;
    }
    p {
        margin: 50px 0;
        padding-top: 25px;
        text-align: justify;
        padding-right: 30px;
        font-size: 20px;
        font-weight: 550;
        a {
            text-decoration: none;
            color: inherit;
            font-weight: inherit;
            cursor: text;
        }
    }
}

footer .footcontact {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    .footiii {
        width: 40%;
        p {
            font-size: 15px;

        }
        .heading {
            font-size: 40px;
            font-weight: 500;
            padding-bottom: 10px;
        }
        a {
            text-decoration: none;
            font-size: 30px;
            color: #000;
            margin: 15px 0px;
            padding: 0 40px 0 0;
        }
        a.contact {
            display: inline-block;
            color: #fff;
            font-size: 25px;
            background-color: #000;
            border: 2px solid black;
            padding: 5px 20px;
        }
    }
    .foot4 {
        width: 50%;
        margin: 15px;
        display: flex;
        flex-direction: row;
        line-height: 1.5rem;
        font-size: 1.5rem;
        gap: 3rem;
        .foot41, .foot42 {
            display: flex;
            flex-direction: column;
            height: max-content;
        }
        
    }
}

footer .license {
    background-color: #000;
    color: white;
    text-align: end;
}